*,
*::after,
*::before {
  /* Keeping the width and height */
  box-sizing: border-box;
}

/* Topography */
html {
  /* 62.5% of 16px is 10px */
  font-size: 62.5%;
}

body {
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  height: 100svh;
}

/* Layout */
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.player1 {
  width: 100%;
  height: max-content;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hand1 {
  height: 185px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 30px;
  padding: 20px;
  background: rgba(204, 204, 204, 0.5);
  width: 65%;
}

/* Card */

.card {
  cursor: pointer;
  padding: 0;
  border: none;
  width: 104px;
  height: 145px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.absolute {
  transition: all 1s;
  position: absolute;
}

.rock {
  background: tomato;
}

.rock::after {
  font-size: 3rem;
  content: "Rock";
}

.paper {
  background-color: dodgerblue;
}

.paper::after {
  font-size: 3rem;
  content: "Paper";
}

.scissors {
  background: purple;
}

.scissors:after {
  font-size: 2rem;
  content: "Scissors";
}

.deck {
  background: teal;
}

.block {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}
